<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hpn332.cb">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_lung"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_lung"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.project.AListProject"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.tag.AListTag" />
        <activity android:name=".view.task.AListTask" />

        <!--<provider
            android:name=".model.data.Provider"
            android:authorities="hpn332.cb"
            android:exported="false" />-->

        <activity android:name=".view.edit.AEdit" />
    </application>

</manifest>